<script src="https://use.fontawesome.com/1a01af5232.js"></script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6682301280e32b9a2304127e6/d0b13757fcac56a91860d227a.js");</script>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bfab345a0286b00115a8e3a&product=gdpr-compliance-tool' async='async'></script>
<!--[if IE]>
<script type="text/javascript" src="js/vendors/html5.min.js"></script>
<![endif]-->
<script>
    if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
        var root = document.getElementsByTagName('html')[0];
        root.setAttribute('class', 'ff');
    :}
  </script>
