<nav class="links">
    <a href="https://about.mybetterweb.site" target="_blank"><i class="fa fa-address-card-o fa-2x"></i></a>
    <a href="https://www.facebook.com/mybetterweb.site/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="https://medium.com/@peranakanfrancisbinabraham" target="_blank"><i class="fa fa-medium fa-2x"></i></a>
    <a href="https://instagram.com/mybetterweb.site" target="_blank"><i class="fa fa-instagram fa-2x"></i>
    <a href="https://linkedin.com/in/peranakanfrancis" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://vimeo.com/mybetterweb" target="_blank"><i class="fa fa-vimeo fa-2x"></i></a>
    <a class="typeform-share button" href="https://peranakanfrancis1.typeform.com/to/bNlaNF" data-mode="popup" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank"><i class="fa fa-commenting-o fa-2x"></i></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</nav>
